*{
  margin: 0;

}
.App {
  /* text-align: center; */
  display: flex; 
  flex:1; 
  height: 100vh;
   background-color: #294274;
}

.floatingBtn {
  height: 50px;
  width: 50px;
  background-color: aqua;
  border-radius: 50%;
  position: absolute;
  bottom: 5vh;
  left: 5vw;
  box-shadow: 2px 2px #888888;
}

.btnGreen {
  display: flex;
  justify-content: center;
  height: 50px;
  background:#3F51B5;
  position: absolute;
  /* width: 50px; */
  padding: 5px;
  bottom: 5vh;
  align-items: center;
  left: 5vh;
  border-color: black;
  border-radius: 10%;
  animation: test 1s ease-in-out  1;


}

.btnRed {
  display: flex;
  justify-content: center;
  height: 50px;
  background: #3F51B5;
  position: absolute;
  /* width: 50px; */

  padding: 5px;
  bottom: 5vh;
  align-items: center;
  right: 5vh;
  border-color: black;
  border-radius: 10%;
  animation: test 1s ease-in-out  1;
}

@keyframes test {
  0% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
